<h2 style="text-align: center;">Приветствую!</h2>
<br/>
<h4 style="text-align: center;">
	Программа создана для построения таблиц маршрутов и занесения их в базу данных,
	<br> для последующего быстрого вывода на печать <br> <br>
</h4>

<div class="text-center">
	<img class="rounded" src="/images/vector.jpg" alt="">
</div>

<h4 style="text-align: center;">
	<br>
	Приступить к построению таблицы: <a href=/input>Ввод данных</a>
</h4>